<div class="card">
    <div>
        <h2>{{ project.title }}</h2>
        <img class="arrow-outward" src="icon/arrow-outward.png" alt="Arrow outward">
    </div>
    <div class="project-img-container">
        <img class="project-img" src="{{ project.imageUrl }}" alt="{{ project.title + ' image' }}">
        <img class="background-img" src="img/img-background.png" alt="">
    </div>
    <span>
        <span *ngFor="let tech of project.technologies; let i = index">
            {{ tech.name }} <span *ngIf="i < project.technologies.length - 1">|</span>
       </span>
    </span>
</div>
