nav {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    height: 98px;
    background: linear-gradient(to bottom, rgb(28 28 28), transparent 100%);
    z-index: 3;

    >div {
        display: flex;
        gap: 20px;
        align-items: center;

        >div {
            color: white;
            display: flex;
            gap: 5px;
            padding: 3px 6px;
            border: 1px solid rgb(61 207 182);
            border-radius: 100px;
            background-color: transparent;
            
            >button {
                height: 100%;
                border-radius: 100px;
                color: white;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
                //hier stimmt so einiges nicht :)
            }
        }

        >a {
            font-family: 'Fira Code';
        }
    }

}

a {
    text-decoration: none;
    color: white;
}
  