.components-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > .component {
    width: 100%;
    max-width: 1920px;
  }
}

#colleaguesComments {
  overflow: hidden;
}
