<section>
  <div class="skill-set-parant-container">
    <p>
      {{
        languageService.selectedLanguage === "de"
          ? "Technologien"
          : "Technologies"
      }}
    </p>
    <div class="skill-set-container">
      <h1>Skill Set</h1>
      <span>
        {{
          languageService.selectedLanguage === "de"
            ? "Ich hatte die Gelegenheit, an unterschiedlichsten Projekten zu arbeiten. Von den visuellen Details im Frontend bis hin zur Logik, die im Backend alles zusammenhält. Ich behaupte nicht, jedes Tool da draußen perfekt zu beherrschen aber ich habe richtig Spaß daran, mich in neue Technologien einzuarbeiten und bessere Wege zu finden dinge umzusetzen."
            : "I’ve had the chance to work on a variety of projects, diving into everything from the visual details of the frontend to the logic that powers the backend. I don’t pretend to know every single tool out there, but I genuinely love picking up new technologies and finding better ways to build things."
        }}
      </span>
      <h2>
        {{
          languageService.selectedLanguage === "de"
            ? "Du brauchst"
            : "You need"
        }}
        <b>
          {{
            languageService.selectedLanguage === "de"
              ? "noch eine Fähigkeit?"
              : "another skill?"
          }}</b
        >
      </h2>
      <span>
        {{
          languageService.selectedLanguage === "de"
            ? "Schreib mir jederzeit wenn du ein Projekt planst oder dich einfach nur vernetzen möchtest, ich freue mich von dir zu hören!"
            : "If you have a project in mind or just want to connect, I’d love to hear from you!"
        }}
      </span>
      <a href="#contact">
        <p>Lets Talk</p>
      </a>
      <div class="decoration"></div>
    </div>
  </div>
  <div class="skill-icons-container">
    <div *ngFor="let icon of icons">
      <img loading="lazy" [src]="icon.src" [alt]="icon.name" />
      <div class="speech-bubble" *ngIf="icon.name === 'Growth mindset'">
        <div>
          <span>
            {{
              languageService.selectedLanguage === "de"
                ? "Ich habe großes Interesse an"
                : "I have a special interest in learning"
            }}</span
          >
          <div>
            <div>
              <img src="icon/dart.png" alt="Dart" />
              <span>Dart</span>
            </div>
            <div>
              <img src="icon/flutter.png" alt="Flutter" />
              <span>Flutter</span>
            </div>
          </div>
        </div>
      </div>
      <span class="growth-mindset-text">{{ icon.name }}</span>
    </div>
  </div>
</section>
