<div>
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div>
      <label for="name">
        {{
          languageService.selectedLanguage === "de"
            ? "Wie lautet Ihr Name?"
            : "What's your name?"
        }}</label
      >
      <input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        minlength="3"
        id="name"
        type="text"
        name="name"
        [placeholder]="
          name.touched && !name.valid ? nameErrorText : namePlaceholder
        "
        [class.error-color]="name.touched && !name.valid"
        [style.color]="
          name.touched && !name.valid ? 'rgba(236, 123, 123, 0.8)' : 'white'
        "
        required
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="error-box"
      >
        <div *ngIf="name.errors?.['minlength']">
          {{
            languageService.selectedLanguage === "de"
              ? "Der Name muss mindestens 3 Zeichen lang sein."
              : "Name must be at least 3 characters long."
          }}
        </div>
      </div>
    </div>
    <div>
      <label for="email">
        {{
          languageService.selectedLanguage === "de"
            ? "Wie lautet Ihre Email"
            : "What's your email?"
        }}</label
      >
      <input
        #email="ngModel"
        [(ngModel)]="contactData.email"
        id="email"
        type="text"
        name="email"
        [placeholder]="
          email.touched && !email.valid ? emailErrorText : emailPlaceholder
        "
        [class.error-color]="email.touched && !email.valid"
        [style.color]="
          email.touched && !email.valid ? 'rgba(236, 123, 123, 0.8)' : 'white'
        "
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="error-box"
      >
        <div *ngIf="email.errors?.['pattern']">
          {{
            languageService.selectedLanguage === "de"
              ? "Bitte geben Sie eine gültige E-Mail-Adresse ein."
              : "Please enter a valid email address."
          }}
        </div>
      </div>
    </div>
    <div>
      <label for="massage">
        {{
          languageService.selectedLanguage === "de"
            ? "Wie kann ich Ihnen helfen?"
            : "How can I help you?"
        }}
      </label>
      <textarea
        #massage="ngModel"
        [(ngModel)]="contactData.message"
        minlength="4"
        id="massage"
        name="massage"
        [placeholder]="
          massage.touched && !massage.valid
            ? messageErrorText
            : messagePlaceholder
        "
        [class.error-color]="massage.touched && !massage.valid"
        [style.color]="
          massage.touched && !massage.valid
            ? 'rgba(236, 123, 123, 0.8)'
            : 'white'
        "
        required
      ></textarea>
      <div
        *ngIf="massage.invalid && (massage.dirty || massage.touched)"
        class="error-box"
      >
        <div *ngIf="massage.errors?.['minlength']">
          {{
            languageService.selectedLanguage === "de"
              ? "Die Nachricht muss mindestens 4 Zeichen lang sein."
              : "Message must be at least 4 characters long."
          }}
        </div>
      </div>
    </div>
    <div class="checkbox-container">
      <input
        #privacyPolicy="ngModel"
        type="checkbox"
        id="privacyPolicy"
        name="privacyPolicy"
        [(ngModel)]="privacyPolicyChecked"
        required
      />
      <label for="privacyPolicy">
        {{
          languageService.selectedLanguage === "de"
            ? "Ich habe die "
            : "I've read the "
        }}
        <a (click)="scrollToTop()" routerLink="/privacy-policy">
          {{
            languageService.selectedLanguage === "de"
              ? "Datenschutzbestimmungen "
              : "Privacy Policy "
          }}</a
        >
        {{
          languageService.selectedLanguage === "de"
            ? "gelesen und willige in die Verarbeitung meiner Daten gemäß den aufgeführten Bestimmungen ein."
            : "and agree to the processing of my data as outlined."
        }}
      </label>
    </div>
    <p
      [class.privacy-policy-error-text-aktive]="
        (privacyPolicy.touched && !privacyPolicy.valid) ||
        (contactForm.submitted && !privacyPolicy.valid)
      "
      class="privacy-policy-error-text"
    >
      {{
        languageService.selectedLanguage === "de"
          ? "Bitte Akzeptieren Sie die Datenschutzbestimmungen."
          : "Please accept the privacy policy."
      }}
    </p>
    <div class="submit-btn-container">
      <button
        [class.submit-btn-aktive]="contactForm.valid"
        class="submit-btn"
        type="submit"
      >
        <p>
          {{
            languageService.selectedLanguage === "de"
              ? "Sagen Sie Hallo ;)"
              : "Say Hello ;)"
          }}
        </p>
      </button>
    </div>
  </form>
</div>
