div {
  width: 100%;

  > form {
    display: flex;
    flex-direction: column;
    color: white;

    > div:not(.checkbox-container, .submit-btn-container) {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 32px;
      border-top: 1px solid rgb(61, 207, 182);
      font-size: 18px;
      transition: all 125ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: rgba(61, 207, 182, 0.1);
        > label,
        input,
        textarea {
          cursor: pointer;

          &::placeholder {
            color: white;
          }
        }
      }

      > label {
        font-family: "Fira Code";
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
        color: rgb(61, 207, 182);
        margin-bottom: 16px;
      }

      > input,
      textarea {
        transition: all 125ms ease-in-out;
        background-color: transparent;
        border: none;
        height: 22px;
        font-family: "Karla";
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        transition-property: padding, height, border-radius;
        transition-duration: 125ms, 125ms, 125ms;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0ms, 0ms, 125ms;
        outline: none;
        color: white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.8);
          display: flex;
          align-items: center;
          transition: color 125ms ease-in-out;
        }

        &:focus-visible {
          padding: 10px;
          border-radius: 10px;
        }
      }

      > textarea {
        resize: none;
        width: 100%;
        height: 22px;
        overflow: hidden;

        &:focus {
          border: 1px solid rgb(61, 207, 182);
        }

        &:focus-visible {
          height: 200px;
        }
      }
    }

    > .checkbox-container {
      display: flex;
      gap: 8px;
      align-items: center;
      padding: 40px 0 8px 0;
      border-top: 1px solid rgb(61, 207, 182);

      > input {
        accent-color: rgb(61, 207, 182);
        appearance: none;
        width: 20px;
        height: 20px;
        content: url(../../../../public/icon/check-mark-box.png);
        cursor: pointer;

        &:hover {
          background-color: rgba(61, 207, 182, 0.1);
          filter: drop-shadow(10px 0px 16px rgba(61, 207, 182, 0.1));
        }

        &:checked {
          content: url(../../../../public/icon/check-mark.png);
        }
      }

      > label {
        font-family: "Karla";
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;

        > a {
          color: rgb(61, 207, 182);
          text-decoration: none;
        }
      }
    }
  }
}

.submit-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;

  > .submit-btn {
    background-color: transparent;
    padding: 12px 24px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    overflow: hidden;

    > p {
      font-family: "Karla";
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  > .submit-btn-aktive {
    border: 1px solid white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    > p {
      color: white;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }

    &:hover {
      border: 1px solid rgb(61, 207, 182);

      > p {
        color: rgb(61, 207, 182);
        animation: slideLeft 2s ease-in-out infinite;
        @keyframes slideLeft {
          0% {
            transform: translateX(0);
          }
          50% {
            transform: translateX(-130%);
          }
          50.001% {
            transform: translateX(130%);
          }
          100% {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.privacy-policy-error-text {
  font-family: "Karla";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: rgba(236, 123, 123, 0.8);
  padding-bottom: 16px;
  opacity: 0;
  transition: all 125ms ease-in-out;
}

.privacy-policy-error-text-aktive {
  opacity: 1;
}

.error-color::placeholder {
  color: rgba(236, 123, 123, 0.8) !important;
}

@media (max-width: 750px) {
  div {
    > form {
      > div:not(.checkbox-container, .submit-btn-container) {
        > label {
          font-size: 20px;
          line-height: 24px;
        }

        > input,
        textarea {
          font-size: 16px;
          line-height: 19.2px;
        }
      }
    }
  }
}

.error-box {
  position: absolute;
  bottom: 8px;
  color: rgba(236, 123, 123, 0.8);
  font-size: 0.8rem;
  font-family: "Karla";
  display: flex;
  justify-content: flex-end;
}
