* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(28,28,28);
  }
  
  ::-webkit-scrollbar-thumb {
    height: 20px;
    width: 1px;
    border-radius: 5px;
    background-color: rgb(61 207 182);
  
    &:hover {
      background: linear-gradient(to bottom, darken(rgb(61 207 182), 20%), darken(rgb(61 207 182), 5%));
    }
}
