<section>
  <div class="footer-content-container">
    <div>
      <a class="logo" (click)="scrollToTop()" routerLink="**"
        ><b>G</b>iovanni<br /><b>W</b>itulski</a
      >
      <span>
        {{
          languageService.selectedLanguage === "de"
            ? "Web Entwickler"
            : "Web Developer"
        }}<br />Landsberg am Lech</span
      >
    </div>
    <p>© Giovanni Witulski 2024</p>
    <div>
      <a
        class="dot-hover"
        target="_blank"
        href="https://github.com/GiovanniWitulski"
        >GitHub</a
      >
      <a
        class="dot-hover"
        target="_blank"
        href="https://www.linkedin.com/in/giovanni-witulski-88576b346/"
        >LinkedIn</a
      >
      <a class="dot-hover" href="mailto:developer@giovanni-witulski.com"
        >Email</a
      >
      <a class="dot-hover" (click)="scrollToTop()" routerLink="/imprint">
        {{
          languageService.selectedLanguage === "de"
            ? "Impressum"
            : "Legal Notice"
        }}</a
      >
    </div>
  </div>
</section>
